#================================================
# Eclipse
#================================================
/**/.cproject
/**/.metadata/*
/**/.project
/**/.settings/*
/**/Release/**/*.o
/**/unix/**/cmd*
/**/win/**/cmd*
