#================================================
# Eclipse
#================================================
/**/.cproject
/**/.metadata/
/**/.project
/**/.settings/
/**/Release/
/**/unix/**/cmd*
/**/win/**/cmd*
