/*===============================================*/
/* common */
/*===============================================*/
/* QWidget */
QWidget, QWidget * {
    background-color: #202011;
    font-family: "Allan";
    font-size: 25px;
    color: white;
    border: none;
    min-width: 0px;
}
/*===============================================*/
/* custom */
/*===============================================*/
/* GWindow */
QFrame#GWindow {
    padding: 10px;
}
/*-----------------------------------------------*/
/* GBuilder */
QFrame#GBuilder {
    padding: 10px;
}
/*-----------------------------------------------*/
/* GListBox */
QFrame#GListBox {
    border: 1px solid #ffffff;
    padding: 10px;
}
QFrame#GListBox QPushButton#item {
    text-align: left;
    padding: 5px 10px;
}
QFrame#GListBox QPushButton#item:hover {
    background-color: #414133;
}
QFrame#GListBox QPushButton#item:pressed {
    background-color: transparent;
}
/*-----------------------------------------------*/
/* GInsertBox */
QFrame#GInsertBox, QFrame#GInsertBox * {
    background-color: transparent;
}
QFrame#GInsertBox {
    border: 1px solid #ffaa33;
    padding: 0px;
}
QFrame#GInsertBox QMenu#menu {
    background-color: #222244;
}
QFrame#GInsertBox QMenu#menu:selected {
    background-color: #424264;
}
/*-----------------------------------------------*/
/* GInsertItem */
QFrame#GInsertItem, QFrame#GInsertItem * {
    background-color: transparent;
}
QFrame#GInsertItem {
    background-color: #644242;
}
QFrame#GInsertItem {
    margin: 10px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
}
QFrame#GInsertItem QLabel#label {
    font-size: 20px;
}
QFrame#GInsertItem QMenu#menu {
    background-color: #222244;
}
QFrame#GInsertItem QMenu#menu:selected {
    background-color: #424264;
}
/*-----------------------------------------------*/
/* GAddressBar */
QFrame#GAddressBar {
    background-color: transparent;
    padding: 10px 0px;
}
QFrame#GAddressBar QLineEdit#address {
    background-color: #414133;
    border-radius: 5px;
    padding: 2px 5px;
}
/*-----------------------------------------------*/
/* GAddressList */
QFrame#GAddressList, QFrame#GAddressList * {
    background-color: transparent;
}
/*===============================================*/
