/* ============================================== */
/* define-color */
/* ============================================== */
@define-color app_bg_color #103030;
@define-color app_fg_color #ffffff;
@define-color app_lg_color #406060;
/* ============================================== */
/* common */
/* ============================================== */
* {
    background-color: @app_bg_color;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: Allan;
    font-size: 20px;
    color: @app_fg_color;
    outline: none;
    min-width: 0px;
    min-height: 0px;
    box-shadow: none;
}
/* ============================================== */
/* custom */
/* ============================================== */
/* GWindow */
#GWindow {
    padding: 10px;
}
#GWindow #workspace {
    border: 1px solid #ffffff;
}
/* ============================================== */
/* GTitleBar */
#GTitleBar {

}
#GTitleBar #connect #layout {
    border-radius: 5px;
    padding: 2px 5px;
}
#GTitleBar #connect #layout,
#GTitleBar #connect #layout * {
    background-color: @app_lg_color;
}
/* ============================================== */
/* GAddressBar */
#GAddressBar {
    background-color: @app_lg_color;
    padding: 2px 5px;
    border-radius: 5px;
}
#GAddressBar * {
    background-color: @app_lg_color;
}
#GAddressBar #edit {
    color: #aaaaaa;
}
/* ============================================== */
